.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots {
    margin: 0 5px;
}

.button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #ffefbc;
}

.interactiveButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.activeButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
}

.button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}